.main-contact-form{
    display: grid;
    grid-template-rows: repeat(4,auto);
    background-color: var(--fondo-cards);
    padding: 2.1rem;
    color: white;
    height: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 2px 20px 2px rgba(0,0,0,0.38);
}

.main-contact{
    display: grid;
    place-items: center;
    height: 95vh;
}

.main-contact-form section{
    margin: 0 auto;
    align-self: center;
}

.section-form-img img{
    width: 120px;
    margin-bottom: 1rem;
}

.section-title h2{
    font-size: 3.5rem;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
}

#name{
    border: 1px solid #fffbf7;
    background-color: var(--fondo-cards);
    padding: 1.5rem;
    text-align: center;
    color: #fffbf7;
    border-radius: 20px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    width: 90%;
}

#textarea{
    background-color: var(--fondo-cards);
    border: .01px solid #fffbf7;
    padding: 1.5rem;
    width: 90%;
    margin-bottom: .5rem;
    text-align: center;
    color: #fffbf7;
    border-radius: 20px;
    text-transform: uppercase;
}

.container-check{
    margin-bottom: 2rem;
}

.container-check label{
    font-size: 1.8rem;
}

#check{
    margin-right: .5rem;

}

.button-form{
    padding: 1.5rem 2rem;
    background-color: var(--fondo-boton-cards);
    border: none;
    width: 90%;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.link-home a{
    color: #fffbf7;
    text-decoration: none;
    font-size: 1.8rem;
}

.error{
    width: 90%;
    padding: 2rem;
    background-color: rgb(190, 9, 9);
    border-radius: 20px;
    margin: 2rem auto;
}

.window{
    width: 90%;
    padding: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fondo-icon-cards);
    border-radius: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -150px;
    transition: top 1.5s; 
    opacity: 1;
    text-align: center;
}

.window div{
    margin: 0 auto;
}

.window p{
    font-size: 1.8rem;
}

.window_visible{
    top: 450px;
    opacity: 1;
}

.window img{
    width: 50px;
    height: 50px;
    margin:2rem 0;
}


.window_visible{
    top: 400px;
    opacity: 1;
}

.price span img{
    width: 15px;
    height: 15px;
}